* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
}

header {
	width: 100%;
	height: 5rem;
}

header img {
	width: 5rem;
	height: 5rem;
	padding: 1rem;
	margin-left: 2rem;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80vh;
}

section img {
	width: 2rem;
	height: 2rem;
	margin-left: 9rem;
}

.control {
	border: 1px solid white;
	border-radius: 1rem;
	color: black;
	background: green;
	padding: 3rem;
	text-decoration: none;
	text-transform: uppercase;
}

.btn {
	width: 25rem;
	height: 25rem;
	border-radius: 1rem;
	border: none;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 80px;
	color: white;
	text-align: center;
	cursor: pointer;
	margin-left: 1rem;
	transition: 0.3s ease-in;
}

.btn:hover {
	width: 27rem;
	height: 27rem;
}
.green {
	background: rgba(0, 154, 23, 1);
}

.orange {
	background: rgba(254, 80, 0, .8);

}

.purple {
	background: rgba(128, 0, 128, .8);
}

footer {
	text-align: center;
	padding-top: 1rem;
}

hr {
	background-color: black;
	width: 20rem;
	height: 1px;
	margin-top: .5rem;
	margin-left: 1px;
}

.diva {
	display: flex;
	flex-direction: row;
}

.desktop input {
	border: 1px solid hotpink;
	padding: .2rem;
	border-radius: 1rem;
	width: 500px;
	text-align: center;
	margin-left: 5rem;
}

.desktop input[type="file"] {
	position: relative;
	bottom: 7rem;
}

::-webkit-file-upload-button {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background: green;
	border: none;
	cursor: pointer;
}

::-webkit-file-upload-button::before {
	content: " ";
	background: url(./assest/download.svg);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	z-index: 10000;
}

.desktop input[type="text"], button {
	position: relative;
	top: 5rem;
}

button {
	border-radius: 50%;
	margin-left: 1rem;
	margin-top: .5rem;
	width: 40px;
	height: 40px;
	border: none;
	background-color: rgba(0, 154, 23, 1);
	cursor: pointer;
}

button img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: white;
	position: relative;
	right: 8.7rem;
	top: .2rem;
}